* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header */
.header {
    grid-area: header;
    background: rgb(8, 167, 175);
    line-height: 50px;
    width: 100%;
}
.app-name {
    color: whitesmoke;
    margin: 0 0 0 15px;
    font-size: 24px;
    float: left;
}
.login-button {
    height: 45px;
    background: rgb(8, 167, 175);
    border: 0px;
    color: whitesmoke;
    font-size: 16px;
    float: right;
}
.reg-button {
    height: 45px;
    background: rgb(8, 167, 175);
    border: 0px;
    color: whitesmoke;
    font-size: 16px;
    float: right;
    margin: 0 15px 0 15px;
}
/* Sidebar & Profile Menu */
.sidebar {
    grid-area: sidebar;
}
.sidebar-panel {
    margin: 15px;
    width: 220px;
    height: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(8, 167, 175);
    margin-top: 25px;
}
.add-task {
    width: 150px;
    height: 40px;
    border: 0;
    background: rgb(8, 167, 175);
    margin-top: 15px;
    color: whitesmoke;
    font-size: 16px;
}
.add-task:active {
    color: blue;
}
.logout {
    margin: 15px 0 15px 0;
    font-size: 16px;
    width: 150px;
    height: 40px;
    border: 0;
    background: rgb(8, 167, 175);
    color: whitesmoke;
}
.logout:active {
    color: blue;
}
/* Основной контент */
.content {
    grid-area: content;
}
.new-task-form {
    margin: 15px 15px 0 30px;
    height: 55px;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: rgb(8, 167, 175);
}
.task-name {
    width: 20em;
    height: 25px;
    margin: 15px 15px 15px 15px;
    font: 14px Arial;
    float: left;
    border: 0;
}
.save {
    background: url('../images/save-button.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    border: 0px;
    float: right;
    margin: 15px 15px 15px 0;  
}
.save:hover {
    background: url('../images/save-button-active.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    border: 0px;
    float: right;
    margin: 15px 15px 15px 0; 
}
.edit {
    background: url('../images/edit-button.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    border: 0px;
    float: right;
    margin: 15px 15px 15px 0; 
}
.edit:hover {
    background: url('../images/edit-button-active.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    border: 0px;
    float: right;
    margin: 15px 15px 15px 0; 
}
.delete {
    background: url('../images/delete-button.png');
    background-size: 25px 25px; 
    width: 25px;
    height: 25px;
    border: 0px;
    float: right;
    margin: 15px 15px 15px 0; 
}
.delete:hover {
    background: url('../images/delete-button-active.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    border: 0px;
    float: right;
    margin: 15px 15px 15px 0; 
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: 
        "header header"
        "sidebar content";
    /* align-items: center; */
    
}

/* Модальное окно */
